<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="//apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<style>
    body {background-image:url('../statics/images/UNADJUSTEDNONRAW_thumb_1d81.jpg');}
</style>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <div class="page-header">
                <h2 class="text-danger text-center">
                    W3Cschool 博客示例
                </h2>
            </div>
        </div>
        <div class="col-md-6 column">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6 column">
            <ul class="breadcrumb">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-user"></span>主页</a>
                </li>
                <li>
                    <a href="#">博客</a>
                </li>
                <li class="active">
                    科技头条
                </li>
            </ul>
        </div>
        <div class="col-md-6 column">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <form role="form">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="form-group">
                            <input class="form-control" id="exampleInputEmail1" type="text" placeholder="输入关键词" />
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-sm btn-danger">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>

                </div>
            </form>
            <div class="panel-group" id="panel-140348">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-140348" href="#panel-element-613948">
                            <span class="glyphicon glyphicon-plus"></span>大数据<span class="badge">42</span></a>
                    </div>
                    <div id="panel-element-613948" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-140348" href="#panel-element-693539">
                            <span class="glyphicon glyphicon-plus"></span>前端开发<span class="badge">42</span>
                        </a>
                    </div>
                    <div id="panel-element-693539" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 column">
        </div>
    </div>
</div>


</body>
